.list--item {
  position: relative;
  text-decoration: none;
}

.list--item img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.list--item p {
  position: absolute;
  bottom: 10px;
  color: #333;
  font-size: 20px;
  text-transform: capitalize;
  font-weight: bold;
  padding: 0;
  margin: 0;
  text-align: center;
  width: 100%;
}

.list--item span,
.list--item span:active,
.list--item span:focus {
  color: #333;
  font-size: 20px;
  text-transform: capitalize;
  font-weight: bold;
}

.list--item-bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(
    to top,
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );
}

.details-header {
  position: relative;
  width: 100%;
  height: 300px;
}

.details-title {
  width: 100%;
  text-align: center;
  position: absolute;
  top: 50%;
  z-index: 5;
}

.details-img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 3;
}

.details-img-darkness {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background: rgba(255, 255, 255, 0.5);
  z-index: 4;
}
